.txt{
    max-width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: azure;
   
    
 
    
  
}
.imgPgInicial{
    width: 80%;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(26, 5, 0);
    border-width: 15px;
 
}
.base{
    margin: 10px;
    background: blue;
    margin: 20px;
    text-align: center;
}
p{
    font-size: 15px;
}
body{
    background: blue; 
}
.formulario{
    text-align: center;
}
.input{
    width: 90%;
    height: 40px;
}
.input2{
    width: 90%;
    height: 100px;
}
.btnForm{
    width: 60%;
    height: 70px;
    background: rgb(5, 21, 1);
}
.esquerda{
    width: 40%;
    float: left;
    margin-left: 20px;
    text-align: center;
    color:azure;
}
.direita{
    width: 40%;
    float: right;
    margin-right: 20px;
    text-align: center;
    color:azure;
}
.pdf{
    width: 90%;
    text-align: center;
    
    ;
}
.txt2{
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
}

.imgformacao{
    width: 80%;
    height: 30%;
    border-style: solid;
    border-radius: 10px;
    border-width: 10px; 
    
}
.imgconhecimento{
    width: 40%;
    border-style: solid;
    border-radius: 10px;
    border-width: 10px; 
    
}
